{% extends 'base.html.twig' %}

{% block body %}
    <div class="news-container">
        {% for post in news %}
            {% include 'news/post.inc.html.twig' with {'post': post} only %}
        {% else %}
            <div class="row">
                <div class="col s12">
                    <div class="card-panel blue lighten-5 center-align">
                        <span>{{ "app.news.no_news"|trans }}</span>
                    </div>

                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <a class="btn-floating btn-small waves-effect waves-light green right"
            href="{{ path('edit_news') }}">
            <i class="material-icons">add</i>
        </a>
    </div>
{% endblock %}

{% block javascripts %}
    {% if active is not empty %}
        <script>
            $(function(){
                window.location.hash = '#last_comment_{{ active }}';
            });
        </script>
    {% endif %}
{% endblock %}